.transcript-bar{
    height:50px;
    padding: 7px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: grey;
}

.transcript-button {
    width: 100px;
    padding: 10px;
    height: 20px;
    margin-top: 3px;
    border-radius: 10px;
    background-color:  purple;
    text-align: center;
    float: left;
    display: inline;
    border: solid 2px purple;

    transition: border 1s ease;
}


.resume-button {
    width: 350px;
    padding: 12px;
    height: 44px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 10px;
    background-color:  purple;
    text-align: center;
    font-size: 16px;
    float: left;
    border: solid 2px purple;
    transition: border 1s ease;
    display: inline;
    font-family: Roboto;
    color: white;
    user-select: none;
}

.transcript-button:hover, .resume-button:hover {
    border: solid 2px white;
    box-shadow: 0 0 0 0;
    transition: border 1s ease;

}

#transcript-link, #resume-link{
    text-decoration: none;
    color: white;
}

.resume-frame{
    width:100%;
    height:550px;
    border-radius: 15px 15px 0 0;
    display: none;

}

.text-resume{
    height: 510px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    overflow: scroll;
    border-color: antiquewhite;
}

#name-header{
    text-align: center; 
}

.info-header{
   text-align: center; 
 
}

#edu-header, #edu-info{
    margin-bottom: 1.33em;
}

#email, #linkedin{
    text-decoration: none;
    color: purple;
    padding: 3px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}


#email:hover, #linkedin:hover{
    color: white;
    background-color: purple;
    transition: background-color 0.5s ease;

}

#school, #degree, .exp-name, .exp-time{
    display: inline;
    margin-bottom: 1.33em;
}

#degree {
    font-style: italic;
}

.exp-time{
    float: right;
    margin: 0;
}

.exp-position{
    display: inline;
    font-style: italic;
}

.exp-desc{
    margin-top: 16px;
    font-family: Roboto;
}

.exp-contribs{
    margin-bottom: 32px;
}

#school-location, #graduation-date{
    display: inline;
    float:right;
    font-weight: normal;
    margin: 0;
}

.skill-content, #coursework{
    font-weight: normal;
}


.transcript-selection{
    float:left;
    margin: 15px 1%;
    color:white;
}